body{
    margin: 0;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(161, 161, 187);
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav-links li{
    list-style: none;
}
.nav-links a {
    text-decoration: none;
}
.logo img{
    max-width: 100px;
}

@media screen and (max-width:425px){
    .nav-links{
        width: 50%;
    }
}